{% extends "layout.html" %}

{% block content %}
<section id="about-page">
    <div id="triangle7"></div>
    <div id="triangle8"></div>
    <h2>About Me</h2>
    <p>
        I'm Renee! My pronouns are she/they! I am a python
        developer looking to restart my career. This site
        serves as a portfolio to showcase the projects I've
        worked on that I'm most proud of. I hope you can
        appreciate the quality of my work.
    </p>
    <p>
        When I'm not coding, I love taking care of my cat.
        His name is Timmy and he is majestic. I am also
        passionate about singing, dancing, fashion, and
        makeup and devote a decent amount of time to those
        hobbies.
    </p>
    <p>
        Thank you for visiting my portfolio and I hope to
        hear from you if you think I have something to offer
        you or yours!
    </p>
    <a href="/static/doc/Renee Brinkman Resume.docx"><i class="far fa-file"></i>Resume</a>
</section>
{% endblock %}
