{% extends "layout.html" %}

{% block content %}
<section class="header">
    <h1>{{ this_project.title }}</h1>
    <p>{{ this_project.date.strftime('%b %Y') }}</p>
    <a href="{{ this_project.repo_link }}" class="github-btn">
        <i class="fab fa-github"></i>
        View on GitHub
    </a>
    <ul class="project-skills">
        <div>
          {% for skill in this_project.skills.split(', ') %}
          <li>{{ skill }}</li>
          {% endfor %}
        </div>
    </ul>
</section>
<section id="project-desc">
    <div id="triangle5"></div>
    <h2>Description</h2>
    <p>
        {{ this_project.description }}
    </p>
    <div id="triangle6"></div>
</section>
<section id="edit-delete">
    <a href="{{ url_for('edit_project', id=this_project.id) }}">
        <i class="fas fa-edit"></i>
        Edit
    </a>
    <a href="{{ url_for('delete_project', id=this_project.id) }}">
        <i class="far fa-trash-alt"></i>
        Delete
    </a>
</section>
{% endblock %}
